* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(bg-img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main {
    display: flex;
    flex-direction: column;
    color: white;
}

nav img {
    width: 15%;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color:rgba(0, 0, 0, 0.9);
    min-height: 100vh;
}



.container-form > input {
    width: 60%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-style: none;
    outline-style: none;
    
}

.container-form > button {
    margin-top: 15px;
    width: 60%;
    padding: 15px;
    color: white;
    background-color: red;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}

.form-btm-text {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 70px;
}

.checkbox-text {
    display: flex;
    gap: 2px;
}

.form-bottom-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.form-heading {
    width: 60%;
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: 50px;
}

input[type=checkbox]:checked {
    accent-color: rgb(51, 50, 50);
    
}

input {
    background-color: rgb(51, 50, 50);
    color: white;
}


/* Footer section */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color:rgba(0, 0, 0, 0.9);
    margin-top: 80px;
    padding: 50px;
    
}

footer a {
    color: gray;
    text-decoration: none;
}

footer a:hover {
    text-decoration:underline;
}

.text-white {
    color: white;
}

.gray-color {
    color: gray;
}

.link-blue-clr {
    color: blue;
    text-decoration: none;
}


.footer-flex-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.flexed-items {
    margin-right: 80px;
}

.flexed-items > div {
    margin-bottom: 10px;
}


/* javascript validation */

.error #emailError,
.error #passwordError {
    width: 60%;
    position: relative;
  bottom: 15px;
  color: #e87c03;
}

.error #passwordError {
    bottom: 15px;
}

.msg {
    display: none;
  }
  



/* media queries */

@media screen and (max-width: 740px) {
    body {
        background-image: url();
        background-color: black;
    }

    footer {
        display: flex;
        justify-content: center;
        margin-top: 0px;
        
    }
    
    .footer-flex-items {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    nav img {
        width: 35%;
    }
    

    .error #emailError,
.error #passwordError {
    width: 80%;
}


section {
    border-bottom: 3px solid gray;
    
}

.container-form {
    width: 100%;
    
}

.container-form > input {
    width: 80%;
    
}

.container-form > button {
    width: 80%;
}

.form-btm-text {
    width: 80%;
}



.form-bottom-text {
    width: 80%;
}


.form-heading {
    width: 80%;
}

}
  